<div class="container mx-auto">

    <div class="flex flex-wrap justify-center">
        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3 ">
            <div class="flex absolute -top-6 left-6 sm:left-20 items-center text-center">
                <img src="assets/image/cardtextalfian.svg" alt="Bagus Alfian" class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Alfian.svg" alt="Bagus Alfian" class="h-70" />
            </div>
        </div>

        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute -top-6 items-center text-center">
                <img src="assets/image/cardtextbila.svg" alt="Salsabila Nurhalimah" class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Bila.svg" alt="Salsabila Nurhalimah" class="h-70">
            </div>
        </div>

        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute -top-4 -right-2 items-center text-center">
                <img src="assets/image/cardtextfikri.svg" alt="Muhammad Fikri A." class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Fikri.svg" alt="Muhammad Fikri A." class="h-70">
            </div>
        </div>

        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute -top-6 -right-2 text-center">
                <img src="assets/image/cardtextaldo.svg" alt="Aldo Marsendo" class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Aldo.svg" alt="Aldo Marsendo" class="h-70">
            </div>
        </div>
    </div>

    <div class="flex flex-wrap justify-center">
        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute -top-2 -left-4 text-center">
                <img src="assets/image/cardtextredian.svg" alt="redian rasigio" class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Redian.svg" alt="Redian Rasigio I.P." class="h-70">
            </div>
        </div>

        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute top-0 -right-4 text-center">
                <img src="assets/image/cardtextvani.svg" alt="Vani" class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Vani.svg" alt="Tiara Vani P.H." class="h-70">
            </div>
        </div>

        <div class="w-full relative sm:w-1/2 lg:w-1/4 px-3">
            <div class="flex absolute -top-2 -right-4 text-center">
                <img src="assets/image/cardtextnata.svg" alt="Muhammad Renata M.P." class="h-24" />
            </div>
            <div class="flex flex-col items-center text-center">
                <img src="assets/image/Nata.svg" alt="Muhammad Renata M.P." class="h-70">
            </div>
        </div>
    </div>
</div>